.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.ColorPicker-MuiButtonBase-root {
    margin: 0;
}

.ColorPicker-MuiFormControl-root.ColorPicker-MuiTextField-root {
    display: none;
}

input.MuiInputBase-input {
    display: none;
}

.MuiInput-underline:before {
   content:none !important;
}

div.MuiInputAdornment-positionEnd {
    margin: 0;
    height: auto;
}